<div *ngIf="getStates$() | async; let states">
    <div class="row text-center p-0">
      <div class="col" *ngFor="let state of states" [ngSwitch]="state.name">
        <div class="card">
          <i class="fas fa-user fa-5x" 
          [ngClass]="{'on': state.isThere === true}"
          *ngSwitchCase="'guest'"
          (click)="toggleState(state.key, state.isThere)"></i>
          <i class="fas fa-trash fa-5x" 
          [ngClass]="{'on': state.isThere === true}"
          *ngSwitchCase="'trash'"
          (click)="toggleState(state.key, state.isThere)"></i>
        </div>
      </div>
    </div>
  </div>