<div class="row">
  <div class="col">
    <app-rent></app-rent>
  </div>
  <div class="col">
    <app-guest-trash></app-guest-trash>
  </div>
  <div class="col">
    <div class="card text-center">
      <i class="info far fa-question-circle" 
      placement="left" 
      ngbTooltip="Select a random roommate by clicking on the button."></i>
      <p>Random Roommate</p>
      <button class="btn btn-outline-info" (click)="getRandomUser()">
        {{ selectedUser }}
      </button>
    </div>
  </div>
</div>

