<div class="my-4">
  <div *ngIf="getUser$() | async as user">
    <h5>My Todo List <i class="small info far fa-question-circle" 
      placement="right" 
      ngbTooltip="Personal to-do list"></i>
    </h5>
    <ul class="tasks p-0">
      <li *ngFor="let task of getTasks$() | async">
        <div class="text-left pl-4 pr-2">
          {{ task.name }}
          <span class="close" (click)="completeTask(user.uid, task.key)">&times;</span>
        </div>
      </li>
    </ul>

    <div class="d-flex textContainer">
        <input class="form-control" [(ngModel)] = "myTaskName" maxlength="26">
        <button (click)="saveTask(user.uid)" [disabled]="disableButton"><i class="fa fa-plus"></i></button>
      </div>
  </div>
</div>