<div class="text-center" *ngIf="getUser$() | async as user">
  <div class="sidebar-header">
    <img class="profile-image" [src]="'../../../' + user.photoURL" />
    <h1>{{ user.displayName }}</h1>
    <hr>
  </div>
    <div class="sidebar-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quis necessitatibus deserunt dolores corrupti ab aut? Illo explicabo ad blanditiis dolores sed nam quam quisquam quo id provident sit dolor.
  </div>
  <app-task-list></app-task-list>
  <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logOut()">Log Out</button>
</div>