<div id="roommateSelector" class="container w-100 text-center">
  <h2 class="pb-5">Select <b>Roommate</b></h2>
  <div class="row pb-5">
    <div class="col-sm">
      <div class="user-profile"
      id=0
      (click)="setSelected(0)"
      [ngClass]="{'active': selectedId === 0}">
      <img class="profile-image" src="'../../../../../assets/penguin.png" />
        Crystal
      </div>
    </div>
    <div class="col-sm">
      <div class="user-profile"
      id=1
      (click)="setSelected(1)"
      [ngClass]="{'active': selectedId === 1}">
      <img class="profile-image" src="'../../../../../assets/cat.png" />
        Jessica
      </div>
    </div>
    <div class="col-sm">
      <div class="user-profile"
      id=2
      (click)="setSelected(2)"
      [ngClass]="{'active': selectedId === 2}">
      <img class="profile-image" src="'../../../../../assets/panda.png" />
        Matt
      </div>
    </div>
    <div class="col-sm">
      <div class="user-profile"
      id=3
      (click)="setSelected(3)"
      [ngClass]="{'active': selectedId === 3}">
      <img class="profile-image" src="'../../../../../assets/dog.png" />
        Spenser
      </div>
    </div>
  </div>
  <div class="w-25 m-auto">
  <button class="btn btn-block btn-outline-info" (click)="logIn()" [disabled]="noSelection()">Select</button>
  </div>
</div>