<div *ngIf="getAppliances$() | async; let apps">
  <div class="row text-center p-0">
    <div class="col-sm" *ngFor="let app of apps" [ngSwitch]="app.name">
      <div class="card">
        <div [ngClass]="{'on': app.isUsed === true}"
        *ngSwitchCase="'coffee'">
          <i class="info far fa-question-circle" 
          placement="top" 
          ngbTooltip="Coffee machine is not being used if it's gray. All roommates can see the status real time."></i>
          <i class="fas fa-coffee fa-5x" (click)="toggleState(app.key, app.isUsed)"></i>
        </div>
        <div [ngClass]="{'on': app.isUsed === true}"
        *ngSwitchCase="'dishes'"
        (click)="toggleState(app.key, app.isUsed)">
          <i class="info far fa-question-circle" 
          placement="top" 
          ngbTooltip="Dish washer is not being used if it's gray. All roommates can see the status real time."></i>
          <i class="fas fa-utensils fa-5x"></i>
        </div>
        <div [ngClass]="{'on': app.isUsed === true}"
        *ngSwitchCase="'washer'"
        (click)="toggleState(app.key, app.isUsed)">
          <i class="info far fa-question-circle" 
          placement="top" 
          ngbTooltip="Washing machine is not being used if it's gray. All roommates can see the status real time."></i>
          <i class="fas fa-fire-alt fa-5x"></i>
        </div>
        <div [ngClass]="{'on': app.isUsed === true}"
        *ngSwitchDefault
        (click)="toggleState(app.key, app.isUsed)">
          <i class="info far fa-question-circle" 
          placement="left" 
          ngbTooltip="Dryer is not being used if it's gray. All roommates can see the status real time."></i>
          <i class="fas fa-water fa-5x"></i>
        </div>
      </div>
    </div>
  </div>
</div>